{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "tsx"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}
