{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-router-dom",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "tsx"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}
