@import 'tailwindcss';

@theme {
  --z-index-base: 0;
  --z-index-nav: 10;
  --z-index-dropdown: 20;
  --z-index-overlay: 30;
  --z-index-toast: 40;

  /* Deep blue for backgrounds or large sections. */
  --color-deep-space: #010117;
  /* Bright gold for buttons, links, and highlights. */
  --color-stellar-gold: #ffd700;
  /* Soft pink for hover effects and accents. */
  --color-nebula-pink: #ff4f81;
  /* Neutral gray for text or secondary blocks. */
  --color-galactic-gray: #a9a9a9;
  /* Main paragraph text. */
  --color-lunar-gray: #d1d5db;
  /* Soft blue for links - reminiscent of distant galaxies */
  --color-astral-blue: #4a9eff;

  --font-family-heading: 'Orbitron', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

.nav-link {
  @apply flex items-center gap-2 text-lunar-gray transition-all duration-300;

  &:hover:not(.nav-link-active) {
    --y-offset: --spacing(1);

    @apply text-nebula-pink -translate-y-(--y-offset) scale-105 drop-shadow-[0_var(--y-offset)_6px];
  }
}

.nav-link-active {
  @apply text-stellar-gold drop-shadow-[0_0_4px]/70;
}

/* 👋 Custom wave animation */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(14deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@utility animate-wave {
  animation: wave 2.2s infinite;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-deep-space);
}

::-webkit-scrollbar-thumb {
  --scrollbar-thumb-color: var(--color-stellar-gold);

  background-color: --alpha(var(--scrollbar-thumb-color) / 80%);
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: --alpha(var(--scrollbar-thumb-color) / 90%);
}

/* Firefox-only scrollbar styles */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: --alpha(var(--color-stellar-gold) / 80%) var(--color-deep-space);
  }
}
