@import 'tailwindcss';

@theme {
  --z-index-base: 0;
  --z-index-nav: 10;
  --z-index-dropdown: 20;
  --z-index-overlay: 30;
  --z-index-toast: 40;

  /* Deep blue for backgrounds or large sections. */
  --color-deep-space: #020429;
  /* Bright gold for buttons, links, and highlights. */
  --color-stellar-gold: #ffd700;
  /* Soft pink for hover effects and accents. */
  --color-nebula-pink: #ff4f81;
  /* Neutral gray for text or secondary blocks. */
  --color-galactic-gray: #a9a9a9;
  /* Main paragraph text. */
  --color-lunar-gray: #d1d5db;
}

.nav-link {
  @apply flex items-center gap-2 text-galactic-gray transition-all duration-300;

  &:hover {
    --y-offset: --spacing(1);

    @apply text-nebula-pink -translate-y-(--y-offset) scale-105;
    filter: drop-shadow(0 var(--y-offset) 6px);
  }
}
